body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    
    background-image: url('../image/cover1.jpg');
    

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax a{
    background: linear-gradient(rgba(80, 80, 80, 0.281) 10%, rgba(255, 255, 255, 0) 85%);
}

.parallax2 {
    /* The image used */
    background-image: url('../image/cover2.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}